<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>

<form action="http://localhost:8080/posts" method="post">
	<input type="text" name="title">
	<input type="text" name="content">
	<input type="submit">
</form>

<!--logging in-->
<form action="http://localhost:8080/login" method="post">
    <label>Username</label>
    <input type="text" name="username" autocomplete="on" placeholder="Enter Username">
    <label>Password</label>
    <input type="password" name="password" autocomplete="on" placeholder="Enter Password">
    <input type="submit" name="sign in">
</form>
    </body>
    <footer>
    </footer>
</html>