var credentials = require("./credentials.js");

module.exports = {
    server: {
        host: "localhost",
        port: Number(process.env.port) || 8080
    },
    database: {
        host: "",
        port: "",
        db: "",
        username: "",
        password: ""
    },
    session: {
        password: "",
        cookie: "",
        redirectTo: "/login",
        redirectOnTry: false,
        isSecure: false
    },
    google: {
        provider: "google",
        password: "",
        isSecure: false,
        clientId: credentials.clientId,
        clientSecret: credentials.clientSecret,
        providerParams: {
            redirect_uri: "http://localhost:8080/login"
        }
    }
};